@charset "UTF-8";
/* CSS Document */

#mainDiv
{
	position: inherit;
	
}

#nopeMark
{
	position: absolute;
	visibility: hidden;
}


#checkMark
{
	position: absolute;
	visibility: hidden;
}

#offState
{
	position: absolute;
	visibility: hidden;
}

#button
{
	width: 100px;
	height: 50px;
}

#extraBoxes
{
	display: none;
}

/*#mainSvg
{
	height: 500px;
}*/